body {
  margin: 0; /* Removes default margin and padding applied by other browser */

  padding: 0;
}

header {
  display: flex; /*  Tells header it is a flex container */
  justify-content: space-evenly; /*  Evenly spaces child elements inside the container */
  align-items: center; /*  Vertically center child elements inside the container */
  background-color: darksalmon;
  color: white; /*   Font color */
  padding: 20px; /*  Padding INSIDE the header to create space around the content */
  width: 100%; /*  Makes sure the header spans the entire width of the screen */
  margin: 0 auto; /*  Centers the header horizontally on the page */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /*  Adds a slight shadow below the header to give it depth */
  flex-wrap: wrap; /*  Makes sure that the child elements wrap onto a new line if there isn't enough space */
  height: 300px;
  font-size: 40px;
}

header img {
  border-radius: 25%; /*  Rounds the corners of the elements (if it's square, adds rounded corners) */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /*Adds soft shadow to make it "float"*/
  max-width: 100%; /*  Ensures the image is responsive */
  height: auto; /*  Maintains image's aspect ratio while resizing */
  object-fit: cover; /*  Crops theimage without distorting */
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #919190:
}
.intro {
  max-width: 500px; /*  Limits the idth for better readability */
  text-align: center; /*  Aligns text to the left, right, or center */
}

/* Styling for entire Main Element*/
main {
  display: flex; /*  Tells flex it is a main container */
  flex-direction: column; /* Stacks child elements (sections) vertically in a column*/
  align-items: center; /*  Aligns child elements horizontally in the center */
  padding: 30px; /*  Adds padding AROUND the main content for better spacing */
}

/* Styling for Section Elements */
section {
  background-color: #f9f9f9; /*  Background color of each section */
  border-radius: 2px; /*   Rounded corners to section   */
  box-shadow: 0px 4px 8px rgba (0, 0, 0, 0.3); /*  Box shadow making it "float" */
  padding: 20px; /*  Adds space INSIDE each section or card */
  margin-bottom: 20px; /*  Adds space at the BOTTOM of the card */
  width: 100%; /*  Makes each section take up the full width of the MAIN container    */
  max-width: 800px; /*  Limits the width to a max px of 800 */
}

li {
  margin-bottom: 15px; /*  Add space between each list */
}

.h1Styling {
  font-size: 50px;
}

h2 {
  border: solid brown 2px;
  width: fit-content;
}

.skills {
  border: solid brown 2px;
  width: fit-content;
}

footer {
  background-color: coral;
  height: 100px;
  font-size: 40px;
}

.centerFooter {
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
}
